.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 20px;
  border: 2px solid #000;
  background: #fff;
  padding: 52px 40px;
  gap: 40px;
  margin-left: 26%;
  margin-right: 26%;
}

.blackbanner {
  border-radius: 20px;
  background: #000;
  padding: 20px 33px;
}
