.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 20px;
  border: 2px solid #000;
  background: #fff;
  padding: 52px 40px;
  gap: 40px;
  margin-left: 20%;
  margin-right: 20%;
  z-index: 2;
  margin-bottom: 100px;
  position: relative;
  &.is-active {
    opacity: 0;
  }
}

.blackbanner {
  border-radius: 20px;
  background: #000;
  padding: 20px auto;
}

// img#image {
//   display: block;
//   opacity: 1;
//   transition: opacity 0.3s ease-in-out;
// }

.second {
  position: absolute;
  top: 557px;
  left: 125px;
  width: 648px;
}
