.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 20px;
  border: 2px solid #000;
  background: #fff;
}

.blackbanner {
  border-radius: 20px;
  background: #000;
}
