.circle {
  width: 1080px;
  height: 1080px;
  transform: rotate(90deg);
  flex-shrink: 0;
  aspect-ratio: 1/1;
  border-radius: 1080px;
  background: #fd0;
  filter: blur(100px);

  animation-name: changeWidth;
  animation-duration: 4s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
  animation-direction: alternate; /* ✅ ajout important */
  transition: background 2.5s ease; /* ✅ dégradé fluide entre les couleurs */
}

@keyframes changeWidth {
  from {
    width: 50%;
  }

  to {
    width: 100%;
  }
}

#title1 {
  transition: color 0.5s, opacity 0.5s;
}
